.invalid-feedback {
  position: relative;
  bottom: 10px;
  margin-bottom: 10px;
  padding: 10px 0;
}

.label {
  padding-bottom: 20px;
  text-align: left;
  width: 140px;
}

ul {
  text-align: left;
  list-style: none;
  padding-left: 0;
}

.condition-met {
  color: green;
}

.condition-not-met {
  color: red;
}

.strong-password {
  color: green;
  font-weight: bold;
}

.weak-password {
  color: red;
  font-weight: bold;
}

.password-check {
  margin: 10px 0;
}
