.invalid-feedback {
  position: relative;
  bottom: 10px;
  margin-bottom: 10px;
  padding: 10px 0;
}

.label {
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: left;
  width: 140px;
}

.gender-radio {
  padding-top: 20px;
}

ul {
  text-align: left;
  list-style: none;
  padding-left: 0;
}

.condition-met {
  color: green;
}

.condition-not-met {
  color: red;
}

.strong-password {
  color: green;
  font-weight: bold;
}

.weak-password {
  color: red;
  font-weight: bold;
}

.password-check {
  margin: 10px 0;
}

.form-container {
  position: relative;
}

.show-pw {
  position: absolute;
  top: 58px;
  right: 40px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .form-container {
    height: 120px;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 414px) {
  .invalid-feedback {
    margin: 0;
    padding: 0;
  }
}
