.desktop-container {
  position: absolute;
  left: 40px;
  max-width: 1200px;
  margin: 30px auto;
}

.container {
  left: 40px;
  max-width: 1200px;
  margin: 30px auto;
}

.all {
  display: flex;
  padding: 14.59px 117.07px 14.6px 30.09px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #a9a9a9;
}
