.register-container {
  margin-bottom: 400px;
}

.form-group .alert {
  width: 48vw;
  margin: 0 auto;
  top: 50px;
  max-width: 580px;
}

.register-box {
  max-width: 1200px;
  margin: 0 auto 500px;
}

.register-box h2 {
  font-size: 30px;
  border-top: 3px solid;
  margin-top: 30px;
  padding-top: 30px;
}

.register-box .text-xs-left {
  margin-bottom: 30px;
}

.register-box .text-xs-left a {
  color: #5cb85c;
  text-decoration: none;
}

.register-box .btn {
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.register-box .invalid {
  background-color: red;
  border-color: red;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.individual-info-box {
  padding-top: 30px;
}

.gender-radio input {
  margin: 10px;
}

.address {
  margin: 20px 0;
}

.invalid {
  color: #dc3545;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.btn {
  margin: 10px 0;
}

.invalid-gender {
  color: #dc3545;
  font-size: 14px;
  margin-bottom: 10px;
}

.gender-box {
  display: flex;
}

.gender-select {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .register-box {
    margin: 0 20px;
  }
}
