.register-container {
  margin-bottom: 400px;
}

.form-group .alert {
  width: 48vw;
  margin: 0 auto;
  top: 50px;
  max-width: 580px;
}

.register-box {
  max-width: 1200px;
  margin: 0 auto 500px;
}

.user-info-box {
  margin-top: 34px;
  padding-bottom: 34px;
  display: flex;
  color: #4a4a4a;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px; /* 140% */
  letter-spacing: -0.333px;
  border-bottom: 1px solid #e2e2e2;
}

.individual-box {
  margin-top: 34px;
  padding-top: 34px;
  padding-bottom: 34px;
  display: flex;
  color: #4a4a4a;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px; /* 140% */
  letter-spacing: -0.333px;
  border-top: 1px solid;
}

.user-info-box img,
.individual-box img {
  width: 27px;
  height: 26px;
  margin-right: 11px;
}

.register-box h2 {
  font-size: 30px;
  border-bottom: 1px solid;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 80px;
}

.register-back {
  cursor: pointer;
  margin-right: 29px;
}

.under-fourteen {
  font-size: 14px;
}

.input-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
  padding-top: 27px;
}

.check {
  position: absolute;
  right: 0;
  display: flex;
  width: 141px;
  height: 45px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 2px;
  background: #41a24b;
}

.register-box .text-xs-left a {
  color: #5cb85c;
  text-decoration: none;
}

.register-box .btn {
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: white;
  font-size: 20px;
  margin-bottom: 35px;
}

.register-box .invalid {
  background-color: red;
  border-color: red;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.individual-info-box {
  padding-top: 30px;
}

.gender-radio input {
  margin: 10px;
}

.address {
  margin: 20px 0;
}

.invalid {
  color: #dc3545;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.invalid-gender {
  color: #dc3545;
  font-size: 14px;
  margin-bottom: 10px;
  position: absolute;
  left: 260px;
  top: 30px;
}

.gender-box {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 50px;
}

.radio-box {
  display: flex;
  width: calc(100% - 260px);
}

.gender-box label {
  width: 240px;
}

.essential {
  color: #41a24b;
  font-weight: 500;
  letter-spacing: -0.333px;
}

.gender-select {
  margin: 0 10px;
}

@media (max-width: 1240px) and (min-width: 768px) {
  .register-box {
    margin: 0 20px;
  }
}

@media (max-width: 768px) {
  .register-box {
    margin: 0 20px;
  }
  .input-box {
    display: block;
    border: 0;
    padding: 30px 0;
  }
  .address {
    display: block;
  }
  .address-input,
  .detail-address-input {
    margin: 10px 0;
  }
  .input-box .check {
    position: absolute;
    left: 0;
    margin-top: 20px;
  }
}

.btn-group {
  width: 100%;
  margin-top: 113px;
}

.complete {
  width: 50%;
  background: #41a24b !important;
  display: flex;
  width: 483px;
  height: 60px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  margin-right: 10px;
  border-radius: 0;
}

.cancel-btn {
  width: 50%;
  background: #626262 !important;
  display: flex;
  width: 483px;
  height: 60px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 0;
}
