.slider-container {
  margin: 0 auto;
  padding: 0;
}

.slick-slide img {
  width: 100%;
  height: auto;
}

.banner {
  height: 376px;
  margin: 0;
  padding: 0;
  background-color: #41a24b;
}

.container {
  display: flex;
  height: 376px;
  align-items: center;
  justify-content: space-around;
}

.banner-box {
  color: #fff;
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 47.5px;
  letter-spacing: -1.96px;
}

.sub-nav {
  height: 67px;
  background-color: rgb(43, 114, 46);
  display: flex;
  align-items: center;
}

.tab {
  width: 33.3%;
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.96px;
}

.selected {
  position: relative;
  text-decoration: none;
}

.selected::after {
  content: '';
  position: absolute;
  top: 46.5px;
  width: 80%;
  height: 4px;
  background-color: #ffa800;
}

@media (max-width: 1024px) {
  .banner-box {
    height: 200px;
    font-size: 4vw;
    letter-spacing: normal;
  }

  .banner-box img {
    width: 20vw;
  }

  .banner {
    margin: 0;
    height: 200px;
  }

  .container {
    height: 300px;
  }

  .tab {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .banner-box img {
    width: 30vw;
  }
}

@media (max-width: 320px) {
  .tab {
    padding: 0 20px;
  }
  .selected::after {
    content: '';
    position: absolute;
    top: 63.5px;
    width: 80%;
    height: 4px;
    background-color: #ffa800;
  }
}
