.home-page {
  margin-bottom: 250px;
}

.filter {
  display: flex;
  margin: 30px auto 0;
  max-width: 1100px;
}

.newest {
  margin: 0 30px;
  cursor: pointer;
}

.by-popularity {
  cursor: pointer;
}

.by-view {
  cursor: pointer;
}

@media (max-width: 1800px) {
  .lecture-home-page {
    width: 70vw;
    margin-left: 300px;
  }
}

@media (max-width: 1300px) {
  .lecture-card-deck {
    width: 800px;
  }
}

@media (max-width: 1200px) {
  .filter {
    margin: 30px 30px 0;
  }
}

@media (max-width: 1024px) {
  .lecture-home-page {
    width: auto;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .lecture-card-deck {
    width: 80vw;
  }
}
